* {
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
}

body{
	background-image:url(../images/background2.jpeg);
	background-size: 100%;
}

.header {2
	margin-bottom: 15px;
}

h1 {
	color: #ee2e24;
	font-size: 50px;
	text-align: right;
	font-family: 'Schoolbell', cursive;
	margin-top: 30px;
	margin-right: 10px;
}

.logo {
	height: 110px;
	padding-top: 5px;
	padding-left: 40px;
}

.game {
	text-align: left;
	margin-left: 15px;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 25px;
	padding-bottom: 110px;
	z-index: 0;
}

.fight {
	text-align: left;
	margin-left: 15px;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 25px;
	padding-bottom: 5px;
}

.button {
	text-align: left;
	margin-left: 15px;
	color: #ee2e24;
	font-family: 'VT323', monospace;
	font-size: 15px;
	padding-bottom: 10px;
}

.character {
	font-size: 13px;
	width: 120px;
	height: 110px;
	background-color: white;
	border: 2px solid #ee2e24;
}

.character-image {
	height: 72px;
}

#eleven {
	position: absolute;
	top: 5px;
	left: 10px;
}

#chief-hopper {
	position: absolute;
	top: 5px;
	left: 140px;
}

#monster {
	position: absolute;
	top: 5px;
	left: 270px;
}

#dr-brenner {
	position: absolute;
	top: 5px;
	left: 400px;
}

.enemy {
	background-color: #ee2e24;
	border: 2px solid white;
}

.defender {
	background-color: black;
	border: 2px solid #ee2e24;
	color: white;
}