* {
  box-sizing: border-box;
  text-align: center;
  margin: 0px;
}

body{
	background-image:url(../images/background2.jpeg);
	background-size: 100%;
}

.container {
	width: 100%;
}

h1 {
	color: #ee2e24;
	font-size: 50px;
	text-align: right;
	font-family: 'Schoolbell', cursive;
	margin-top: 30px;
	margin-right: 10px;
}

.logo {
	height: 110px;
	padding-top: 5px;
	padding-left: 40px;
}

.game {
	text-align: left;
	margin-left: 15px;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 25px;
	padding-bottom: 110px;
	z-index: 0;
}

.fight {
	text-align: left;
	margin-left: 15px;
	color: white;
	font-family: 'VT323', monospace;
	font-size: 25px;
	padding-bottom: 5px;
}

.button {
	text-align: left;
	margin-left: 15px;
	color: #ee2e24;
	font-family: 'VT323', monospace;
	font-size: 15px;
	padding-bottom: 10px;
}

.character {
	font-size: 13px;
	font-weight: bold;
	font-family: 'Schoolbell', cursive;
	width: 120px;
	height: 110px;
	background-color: white;
	border: 2px solid #ee2e24;
	margin: 5px;
	position: absolute;
	z-index: 4;
}

.character-image {
	height: 72px;
}

.enemy {
	background-color: gray;
	border: 2px solid #ee2e24;
}

.defender {
	background-color: #ee2e24;
	border: 2px solid white;
	color: white;
}

.results {
	color: #ee2e24;
	font-size: 16px;
	font-family: 'Schoolbell', cursive;
	margin-left: 15px;
}

#player-attack-results {
	margin-top: 95px;
}